h2 {
  font-size: 26px;
}
h3 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}
table {

}
.detail {
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  float: right;
  line-height: 10px;
  font-size: 12px;
}
