<div class="container-fluid">
  <div class="device-list mt-3">
    buffer amount: {{scroll?.viewPortItems?.length}} of {{devices?.length}}
      <virtual-scroller class="virtual-scroller" #scroll
                        [bufferAmount]="30"
                        [enableUnequalChildrenSizes]="false"
                        [items]="devices"
      >
        <div class="inline" *ngFor="let device of scroll.viewPortItems; trackBy: trackByFn">
          <app-device-list-item [device]="device">
          </app-device-list-item>
        </div>
      </virtual-scroller>
  </div>
</div>
