@import "~bootstrap/scss/bootstrap";
.form-wrapper {

}
.device-form {
  line-height: 28px;
  //border: 1px solid #cbcbcb;
  //padding: 30px;
  button {
    line-height: 30px;
  }
  mat-form-field {
    display: block;
  }
  label {
    margin: 0;
    padding-right: 10px;
  }
  input, app-ip-input {
    width: 100%;
  }
  input {
    border: none;
    padding: 0 5px;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.3);
  }
  app-ip-input {
    max-width: 300px;
  }
}
@media screen and (max-width: map-get($grid-breakpoints, md)){
  .form-wrapper {
    margin-top: 20px;
    text-align: center;
  }
  .device-form {
    text-align: center;
    mat-form-field {
      margin-top: 10px;
    }
    input, app-ip-input {
      margin-bottom: 20px;
    }
    input {
      max-width: 300px;
    }
  }
}
